*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
}

a,
img,
button,
input {
   border: none;
   outline: none;
}

/* *FOR ALL */
body {
   font-family: "Poppins", sans-serif;
   font-size: 18px;
   color: #626780;
}

.wrapper {
   padding: 0 15px;
   max-width: 1140px;
   margin: 0 auto;
}

.section {
   padding: 110px 0;

}

/* *End FOR ALL */
/* *FONT */
.logo__name {
   font-family: "Roboto", sans-serif;
   font-size: 1.38em;
   color: #505050;
}

.heading {
   font-family: "DM Serif Display", sans-serif;
   font-size: 3.1em;
}

.lead {
   text-align: center;
   font-size: 1.44em;
   margin-bottom: 15px;
   font-weight: 500;
}

.service .lead-text {
   width: 715px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 140px;
}

.headline {
   font-family: "PT Serif", sans-serif;
   color: #402B2B;
   font-size: 2.67em;
   width: calc(100% / 2);
   margin-bottom: 30px;
}

/* *End FONT */
/* *BUTTON */
.button {
   display: flex;
   width: 234px;
   height: 60px;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   transition: 1.2s ease-in-out;
   cursor: pointer;
}

li .button {
   width: max-content;
   padding: 0 20px;
}

.button:hover {
   background: #9B9BCA;
   color: #FFFFFF;
   font-weight: 600;
}

.questions .button {
   text-transform: uppercase;
   width: 550px;
   height: 90px;
   margin: 0 auto;
}

.offer__item .button {
   position: absolute;
   left: 50%;
   top: 100%;
   transform: translate(-50%, -50%);
}

/* *End BUTTON */
/* *HEADER */


.header {
   height: 737px;
   background-image: url(../img/Banner.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

/* ----------- */
.header__nav {
   height: 116px;
   box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);
   position: relative;
   z-index: 1;
   /* overflow: hidden; */
   background: inherit;
   background-position: top;
}

.header__nav::before {
   content: "";
   position: absolute;
   background: inherit;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.3);
   filter: blur(3px);
   margin: -5px;
}

.header__nav .wrapper {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav__logo {
   width: min-content;
   display: flex;
   justify-content: end;
   gap: 15px;
   align-items: center;
}

.logo__logo {
   height: 72px;
   width: 72px;
   border-radius: 50%;
   background-color: #C8C8C8;
   font-family: 'Rammetto One', sans-serif;
   font-size: 20px;
   color: #FFFFFF;
   text-transform: uppercase;
   text-align: center;
   line-height: 72px;
   text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.nav__menu ul {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

/* ----------- */
.hidden-menu {
   position: absolute;
   height: 100%;
   display: none;
}

.hidden-menu__burger {
   height: 72px;
   width: 72px;
   border-radius: 50%;
   background-color: #C8C8C8;
   position: absolute;
   left: 90vw;
   top: 58px;
   z-index: 5;
   transform: translateY(-50%);
   overflow: hidden;
}

.hidden-menu__burger span {
   display: block;
   width: 50px;
   height: 8px;
   border-radius: 30%;
   background-color: #FFFFFF;
   position: absolute;
   transition: 0.5s ease-in;
   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.hidden-menu__burger span:last-child {
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.hidden-menu__burger span:first-child {
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.hidden-menu__burger span:nth-child(2) {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.hidden-menu__burger.active span:first-child,
.hidden-menu__burger.active span:last-child {
   top: 50%;
   left: 50%;
   transform-origin: left top;
}

.hidden-menu__burger.active span:first-child {
   transform: rotate(-45deg) translate(-50%, -50%);
}

.hidden-menu__burger.active span:last-child {
   transform: rotate(45deg) translate(-50%, -50%);
}

.hidden-menu__burger.active span:nth-child(2) {
   transform: scale(0);
}

.hidden-menu__dropdown {
   height: 100%;
   min-width: 200px;
   width: 30vw;
   padding-top: 200px;
   box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);
   position: relative;
   z-index: 1;
   /* overflow: hidden; */
   background: inherit;
   background-position: top;
   left: -100%;
   top: -100%;
   transition: 1.5s ease;
}

.hidden-menu__dropdown::before {
   content: "";
   position: absolute;
   background: inherit;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.3);
   filter: blur(3px);
   margin: 5px;
}

.hidden-menu__burger.active+.hidden-menu__dropdown {
   left: 0;
   top: 0;
}

.hidden-menu__dropdown ul {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: 30px;
}

/* ------------------------ */

.header__info {
   max-width: 751px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   margin: 0;
   padding-top: 85px;
}

/* *End HEADER */
/* *SERVICE */

.service__container {
   width: 100%;
   display: flex;
   gap: 40px;
}

.service__item {
   width: calc(100% / 4);
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
   text-align: center;
   padding: 20px 10px;
}

.service__item:hover {
   box-shadow: 0px 5px 10px 2px rgba(155, 155, 202, 1) inset;
   transition: 1.5s ease;

}

.service__icon {
   width: 65px;
   height: 65px;
}

.icon__design {
   background-image: url(../img/img_service/service1.png);
}

.icon__study {
   background-image: url(../img/img_service/service2.png);
}

.icon__packaging {
   background-image: url(../img/img_service/service3.png);
}

.icon__writing {
   background-image: url(../img/img_service/service4.png);
}

/* *End SERVICE */
/* *EXPERTS */

.experts .wrapper {
   display: flex;
   gap: 15px;
}

.experts__info {
   width: 50%;
}

.experts__container {
   width: 480px;
   height: 480px;
   position: relative;
}

.experts__support {
   display: flex;
   width: 112px;
   height: 112px;
   border-radius: 50%;
   background-color: #626780;
   color: #FFFFFF;
   text-align: center;
   align-items: center;
   margin: 0 auto;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}


.expert__item {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   border-radius: 50%;
}

.expert__item_1::after,
.expert__item_2::after,
.expert__item_3::after,
.expert__item_1::before,
.expert__item_2::before,
.expert__item_3::before {
   width: 97px;
   height: 97px;
   content: "";
   position: absolute;
   background-repeat: no-repeat;
}

.expert__item_1::after,
.expert__item_2::after,
.expert__item_3::after {
   left: 50%;
   top: 0;
   transform: translateX(-50%);
}

.expert__item_1::before,
.expert__item_2::before,
.expert__item_3::before {
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
}

.expert__item_1 {
   /* border-top: 2px dotted #505050 ;
   border-left: 2px dotted #822323;
   border-right: inherit;
   border-bottom: inherit; */

}

.expert__item_1::after {
   background-image: url(../img/img_experts/expert1.png);
}

.expert__item_1::before {
   background-image: url(../img/img_experts/expert2.png);
}

.expert__item_2 {
   transform: rotate(60deg);
}

.expert__item_2::after {
   background-image: url(../img/img_experts/expert3.png);
   transform: translateX(-35px) rotate(-60deg);

}

.expert__item_2::before {
   background-image: url(../img/img_experts/expert4.png);
   transform: translateX(-35px) rotate(-60deg);
}

.expert__item_3 {
   transform: rotate(-60deg);
}

.expert__item_3::after {
   background-image: url(../img/img_experts/expert5.png);
   transform: translateX(-35px) rotate(60deg);
}

.expert__item_3::before {
   background-image: url(../img/img_experts/expert6.png);
   transform: translateX(-40px) rotate(60deg);
}



/* *End Experts */
/* *DEMO */

/* *End DEMO */
/* *QUESTIONS */
.questions__container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 525px 1fr;
   width: 100%;
   column-gap: 25px;
   padding: 45px 0;
}

.question__container_left {
   grid-row: span 2;
}

.question__container_right {
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 2;
}

details {
   display: block;
   background: #F5F5FF;
   box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
   border-radius: 23px;
   max-width: 550px;
   overflow: hidden;
   margin-bottom: 10px;
   height: min-content;
}

summary::-webkit-details-marker {
   display: none;
}

summary::-moz-list-bullet {
   list-style-type: none;
}

summary::marker {
   display: none;
}

summary {
   display: flex;
   align-items: center;
   min-height: 90px;
   padding: 5px 50px 5px 5px;
   background-color: #FFFFFF;
   border-radius: 23px;
   box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
   cursor: pointer;
   position: relative;
}

summary:before {
   top: calc(50% - 10px);
   right: 20px;
   background: url(../img/img_questions/Vector.svg) no-repeat 50% 50% / 15px 15px;
   width: 20px;
   height: 20px;
   content: "";
   position: absolute;
   transition: transform .5s;
}

details[open] {
   min-height: 200px;
   box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
}

details[open]>summary:before {
   transform: rotate(-90deg);
}

summary~* {
   padding: 10px 10px 10px 10px;
}

details[open] summary~* {
   animation: sweep .5s ease-in-out;
}

@keyframes sweep {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

summary:focus {
   outline: 0;
   box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/*  */
.questions {
   background:
      url(../img/img_questions/image3.png) 85% 5em, radial-gradient(57.2em 57.2em at 85% 28.6em, rgba(245, 245, 255, 0.8) 49%, transparent 50%);
   background-repeat: no-repeat;
}

/* *End QUESTIONS */
/* *PARTNERS */
.partners {
   height: 1640px;
   /* !удалить высоту*/
   background: url(../img/img_partners/fon.png) 0 100%,
    radial-gradient(57.2em 57.2em at 0 50%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(4.9em 4.9em at 50% 50%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(4.9em 4.9em at 50% 90%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(2.7em 2.7em at 43% 60%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(2.7em 2.7em at 43% 80%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(1.5em 1.5em at 35% 65%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(1.5em 1.5em at 35% 75%, rgba(255, 237, 239, 1) 49%, transparent -50%);
   background-repeat: no-repeat;
}

/* .partners .wrapper {
   position: relative;
} */

.offer__container {
   display: flex;
   gap: 50px;
   width: 100%;
   padding: 60px;
}

.offer__item {
   width: calc(100% / 2);
   background-color: #FFFFFF;
   padding: 60px;
   box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   position: relative;
}

.offer__pic {
   width: 100%;
   height: 149px;
   border-radius: 10px;
   background-repeat: no-repeat;
   margin-bottom: 50px;
}

.customer {
   background-image: url(../img/img_partners/Customer.png);
}

.provider {
   background-image: url(../img/img_partners/Provider.png);
}

/*  */
.partners__review {
   padding: 30px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;

}

.review__slider {
   max-width: 488px;
   max-height: 388px;
   display: flex;
   flex-direction: column;
   padding: 60px 35px;
   box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
   border-radius: 10px;
}

.review__rating {
   padding: 15px;
   width: 100%;
   display: flex;
   gap: 50px;
}

.review__rating_icon {
   width: 98px;
   height: 98px;
   border-radius: 50%;
   background-image: url(../img/img_partners/background_mini.png);
   box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

span {
   font-family: "Material Symbols Outlined", sans-serif;
   color: yellow;
   font-size: 20px;
   font-weight: 900;
}

/* *End PARTNERS */
.contact__form {
   width: 708px;
   height: 566px;
   box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
   border-radius: 10px;
   margin: 0 auto;
   padding: 120px 0 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.contact__form a {
   color: red;
}

.form__item {
   position: relative;
   width: 400px;
   height: 120px;
}

.form__item input {
   font-family: 'Rubik', sans-serif;
   font-size: 18px;
   color: #9D9D9D;
   width: 100%;
   height: 60px;
   border: 1px solid #9595C9;
   border-radius: 5px;
   padding: 10px;
}

.form__item label {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   position: absolute;
   top: -30px;
   left: 0;
   font-size: 14px;
   color: #BDBDBD;
   pointer-events: none;
   transition: 2s linear;
}

.form__item input:focus {
   border: 2px solid #9595C9;
   box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
}

.form__item input:valid {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   color: #626780;
}