*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
}

a,
img,
button,
input {
   border: none;
   outline: none;
}

details,
details summary {
   cursor: pointer;
   list-style: none;
}

details summary::-webkit-details-marker {
   display: none;
}

details summary::-webkit-details-marker {
   display: none;
}


/* *FOR ALL */
body {
   font-family: "Poppins", sans-serif;
   font-size: 18px;
   color: #626780;
}

.wrapper {
   padding: 0 15px;
   max-width: 1140px;
   margin: 0 auto;
   padding-left: 15px;
}

.section {
   padding: 110px 0;
}

.info {
   max-width: 41.4em;
   display: flex;
   flex-direction: column;
   padding-bottom: 110px;
   margin: 0 auto;
   text-align: center;
   gap: 20px;
}

/* *End FOR ALL */
/* *FONT */
li a {
   color: #717784;
   font-weight: 600;
}

.hidden-menu__dropdown {
   font-size: 1.38em;
}

.logo {
   font-family: 'Rammetto One', sans-serif;
   font-size: 20px;
   color: #FFFFFF;
   text-transform: uppercase;
   text-align: center;
   line-height: 72px;
   text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.logo__name {
   font-family: "Roboto", sans-serif;
   font-size: 1.38em;
   color: #FFFFFF;
}

.nav__logo .logo__name {
   font-weight: 600;
}

.heading {
   font-family: "DM Serif Display", sans-serif;
   font-size: 3.1em;
}

.lead {
   font-size: 1.44em;
   font-weight: 500;
}

.experts .lead {
   margin-bottom: 1.2em;
   text-align: center;
}

.headline {
   font-family: "PT Serif", sans-serif;
   color: #402B2B;
   font-size: 2.67em;
   width: 50%;
   margin-bottom: 30px;
}

.navbar__item h3,
.navbar-hidden__name,
.navbar-hidden__item a,
.navbar__item a {
   color: #FFFFFF;
}

.navbar__item h3,
.navbar-hidden__name {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 20px;
}

.navbar__item a,
.navbar-hidden__item a {
   font-size: 16px;
}

.footer__body p {
   color: #FFFFFF;
}

.experts__body {
   margin-bottom: 5px;
}

/* *End FONT */
/* *BUTTON */
.button {
   color: #717784;
   font-family: "Poppins", sans-serif;
   font-size: 18px;
   display: flex;
   width: 234px;
   height: 60px;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   transition: 1.2s ease-in-out;
   cursor: pointer;
   background-color: rgba(217, 217, 217, 1);
   box-shadow: 0 10px 5px -5px rgba(30, 129, 204, 0.2);
}

.button:hover {
   background: #9B9BCA;
   color: #FFFFFF;
   font-weight: 600;
}

.questions .button {
   text-transform: uppercase;
   width: 550px;
   height: 90px;
   margin: 0 auto;
}

.offer__item .button {
   position: absolute;
   left: 50%;
   top: 100%;
   transform: translate(-50%, -50%);
}

form .button {
   text-transform: uppercase;
}

.button__provider {
   background-color: rgba(236, 221, 224, 1);
}

/* *End BUTTON */
/* *HEADER */
.header {
   background-image: url(../img/Banner.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

/* ----------- */
.header__nav {
   height: 116px;
   box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);
   position: relative;
   z-index: 1;
   background: inherit;
   background-position: top;
}

.header__nav::before {
   content: "";
   position: absolute;
   background: inherit;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.3);
   filter: blur(3px);
   margin: -5px;
}

.header__nav .wrapper {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav__logo {
   width: min-content;
   display: flex;
   justify-content: end;
   gap: 15px;
   align-items: center;
}

.logo__box {
   height: 72px;
   width: 72px;
   border-radius: 50%;
   background-color: #C8C8C8;

}

.nav__menu ul {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 5px;
}

.nav__menu li a {
   position: relative;
   overflow: hidden;
}

li .button:hover {
   box-shadow: 0 10px 5px -5px rgba(30, 129, 204, 0.2);
}

.nav__menu li a span {
   display: block;
   width: 100%;
   height: 100%;
   transform: translateX(-101%);
   transition: 0.2s;
   background-color: rgba(217, 217, 217, 1);
   position: absolute;
   z-index: -1;
}

.nav__menu ul:hover li:nth-child(1) span {
   transition-delay: 0.1s;
}

.nav__menu ul:hover li:nth-child(2) span {
   transition-delay: 0.2s;
}

.nav__menu ul:hover li:nth-child(3) span {
   transition-delay: 0.3s;
}

.nav__menu ul:hover li:nth-child(4) span {
   transition-delay: 0.4s;
}

.nav__menu ul:hover li:nth-child(5) span {
   transition-delay: 0.5s;
}

.nav__menu ul:hover span {
   transform: translateX(0);
   transition-timing-function: ease-in;
}

.nav__menu li:nth-child(1) span {
   transition-delay: 0.5s;
}

.nav__menu li:nth-child(2) span {
   transition-delay: 0.4s;
}

.nav__menu li:nth-child(3) span {
   transition-delay: 0.3s;
}

.nav__menu li:nth-child(4) span {
   transition-delay: 0.2s;
}

.nav__menu li:nth-child(5) span {
   transition-delay: 0.1s;
}

li .button {
   width: max-content;
   padding: 0 20px;
   background-color: transparent;
   box-shadow: none;
}

/* ----------- */
.hidden-menu {
   position: absolute;
   height: 97%;
   display: none;
}

.hidden-menu__burger {
   height: 72px;
   width: 72px;
   border-radius: 50%;
   background-color: #C8C8C8;
   position: absolute;
   left: 87vw;
   top: 58px;
   z-index: 5;
   transform: translateY(-50%);
   overflow: hidden;
}

.hidden-menu__burger span {
   display: block;
   width: 50px;
   height: 8px;
   border-radius: 30%;
   background-color: #FFFFFF;
   position: absolute;
   transition: 0.5s ease-in;
   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.hidden-menu__burger span:last-child {
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.hidden-menu__burger span:first-child {
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.hidden-menu__burger span:nth-child(2) {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.hidden-menu__burger.active span:first-child,
.hidden-menu__burger.active span:last-child {
   top: 50%;
   left: 50%;
   transform-origin: left top;
}

.hidden-menu__burger.active span:first-child {
   transform: rotate(-45deg) translate(-50%, -50%);
}

.hidden-menu__burger.active span:last-child {
   transform: rotate(45deg) translate(-50%, -50%);
}

.hidden-menu__burger.active span:nth-child(2) {
   transform: scale(0);
}

.hidden-menu__dropdown {
   height: 97%;
   min-width: 320px;
   width: 50vw;
   padding-top: 200px;
   box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
   position: relative;
   z-index: 1;
   background-color: rgba(226, 226, 226, 1);
   left: -100%;
   top: -100%;
   transition: 1.5s ease;
}

.hidden-menu__dropdown::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
}

.hidden-menu__burger.active+.hidden-menu__dropdown {
   left: 0;
   top: 0;
}

.hidden-menu__dropdown ul {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: 30px;
}

/* ------------------------ */
.header__info {
   max-width: 38.9em;
   display: flex;
   flex-direction: column;
   gap: 2.22em;
   margin: 0;
   padding: 11.6em 0 6.1em;
}

/* *End HEADER */
/* *SERVICE */
.service__container {
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 40px;
}

.service__item {
   width: calc(100% / 4);
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
   text-align: center;
   border-radius: 5%;
   padding: 20px 20px;
   transition: 0.8s ease;
   cursor: pointer;
}

.service__item:hover {
   box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
   transform: scale(1.1);
}

.service__icon {
   width: 65px;
   height: 65px;
   margin-bottom: 1em;
   background-repeat: no-repeat;
   background-size: cover;
}

.icon__design {
   background-image: url(../img/img_service/service1.png);
}

.icon__study {
   background-image: url(../img/img_service/service2.png);
}

.icon__packaging {
   background-image: url(../img/img_service/service3.png);
}

.icon__writing {
   background-image: url(../img/img_service/service4.png);
}

/* *End SERVICE */
/* *EXPERTS */
.experts {
   background: rgb(233, 231, 232);
   background: linear-gradient(135deg, rgba(233, 231, 232, 1) 15%, rgba(255, 237, 239, 0.01) 41%, rgba(245, 245, 255, 0.01) 100%);
}

.experts__body {
   display: flex;
   gap: 60px;
}

.experts__info-bloc {
   width: calc(100% / 2);
   position: relative;
}

.expert__content {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0px;
   top: 0px;
   transition: 0.5s;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#expert div {
   opacity: 0;
}

#expert div:target {
   opacity: 1;
   transition: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.expert__avatar:hover {
   transform: scale(1.3);
}

.experts__container {
   min-width: calc(100% / 2);
   width: 500px;
   height: 500px;
   position: relative;
   background: url(../img/img_experts/Vector6.png) 30% 60%,
      url(../img/img_experts/Vector1.png) 30% 40%,
      url(../img/img_experts/Vector2.png) 55% 20%,
      url(../img/img_experts/Vector3.png) 80% 40%,
      url(../img/img_experts/Vector4.png) 80% 65%,
      url(../img/img_experts/Vector5.png) 40% 85%;
   background-repeat: no-repeat;
}

.experts__support {
   display: flex;
   width: 112px;
   height: 112px;
   border-radius: 50%;
   background-color: #626780;
   color: #FFFFFF;
   text-align: center;
   align-items: center;
   margin: 0 auto;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.expert__avatar {
   display: block;
   width: 97px;
   height: 97px;
   border-radius: 50%;
   content: "";
   position: absolute;
   background-size: cover;
   background-repeat: no-repeat;
   border: 3px solid rgba(217, 217, 217, 1);
   box-shadow: 10px 10px 10px 0px rgba(30, 129, 204, 0.2);
   background-position: center;
   transition: 0.5s ease-in-out;
}

.expert__avatar_1 {
   background-image: url(../img/img_experts/expert1.png);
   left: 40%;
   bottom: 0;
}

.expert__avatar_2 {
   background-image: url(../img/img_experts/expert2.png);
   left: 40%;
   top: 0;
}

.expert__avatar_3 {
   background-image: url(../img/img_experts/expert3.png);
   left: 0;
   bottom: 17%;
}

.expert__avatar_4 {
   background-image: url(../img/img_experts/expert4.png);
   left: 0;
   top: 17%;
}

.expert__avatar_5 {
   background-image: url(../img/img_experts/expert5.png);
   right: 0;
   bottom: 17%;
}

.expert__avatar_6 {
   background-image: url(../img/img_experts/expert6.png);
   right: 0;
   top: 17%;
}

/* *End Experts */
/* *DEMO */

.demo__video {
   width: 100%;
   max-height: 780px;
   object-fit: cover;
}

/* *End DEMO */
/* *QUESTIONS */
.questions__container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 525px 1fr;
   width: 100%;
   column-gap: 25px;
   padding: 45px 0;
}

.question__container_right,
.question__container_left {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.question__container_left {
   grid-row: span 2;

}

.question__container_right {
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 2;
}

.question__item {
   display: block;
   background: #F5F5FF;
   box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
   border-radius: 23px;
   max-width: 550px;
   overflow: hidden;
   height: min-content;
}

.question__item_hidden {
   display: flex;
   align-items: center;
   min-height: 5em;
   padding: 5px 50px 5px 15px;
   background-color: #FFFFFF;
   border-radius: 23px;
   box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
   cursor: pointer;
   position: relative;
}

.question__item_hidden:before {
   top: calc(50% - 10px);
   right: 20px;
   background: url(../img/img_questions/Vector.svg) no-repeat 50% 50% / 15px 15px;
   width: 20px;
   height: 20px;
   content: "";
   position: absolute;
   transition: transform .5s;
}

.question__item_hidden[open] {
   min-height: 200px;
   box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
}

.question__item[open]>.question__item_hidden:before {
   transform: rotate(-90deg);
}

.question__item_hidden~* {
   padding: 10px 10px 10px 10px;
}

.question__item[open] .question__item_hidden~* {
   animation-name: sweep;
   animation-duration: 1.5s;
   animation-timing-function: ease;
}

@keyframes sweep {

   0% {
      opacity: 0;
      transform: translateX(-200px) scale(0.8);
   }

   50% {
      opacity: 1;
      transform: translateX(0px) scale(0.8);
   }

   100% {
      opacity: 1;
      transform: translateX(0px) scale(1);
   }
}

.question__item_hidden:focus {
   outline: 0;
   box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/*  */
.questions {
   background:
      url(../img/img_questions/image3.png) 80% 6em, radial-gradient(57.2em 57.2em at 85% 28.6em, rgba(245, 245, 255, 0.8) 49%, transparent 50%);
   background-repeat: no-repeat;
}

/* *End QUESTIONS */
/* *PARTNERS */
.partners {
   background: url(../img/img_partners/fon.png) 0 100%,
      radial-gradient(57.2em 57.2em at 0 50%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(4.9em 4.9em at 49% 50%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(4.9em 4.9em at 49% 90%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(2.7em 2.7em at 43% 60%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(2.7em 2.7em at 43% 80%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(1.5em 1.5em at 35% 65%, rgba(255, 237, 239, 1) 49%, transparent -50%),
      radial-gradient(1.5em 1.5em at 35% 75%, rgba(255, 237, 239, 1) 49%, transparent -50%);
   background-repeat: no-repeat;
}

.partners__offer {
   margin-bottom: 187px;
}

.offer__container {
   display: flex;
   gap: 50px;
   width: 100%;
   padding: 60px;
}

.offer__item {
   width: calc(100% / 2);
   background-color: #FFFFFF;
   padding: 60px;
   box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   position: relative;
}

.offer__pic {
   width: 100%;
   height: 149px;
   border-radius: 10px;
   background-repeat: no-repeat;
   margin-bottom: 50px;
   background-size: cover;
}

.customer {
   background-image: url(../img/img_partners/Customer.png);
}

.provider {
   background-image: url(../img/img_partners/Provider.png);
}

/*  */
.partners__review {
   padding: 30px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.partners__review .review__info {
   margin: 0 0;
   width: 40vw;
}

.review__slider {
   max-width: 488px;
   max-height: 388px;
   display: flex;
   flex-direction: column;
   padding: 60px 35px;
   box-shadow: 0 8px 26px rgba(238, 77, 71, 0.3), 0 28px 30px rgba(238, 77, 71, 0.2);
   border-radius: 10px;
   background-color: #FFFFFF;
}

.review__rating {
   padding: 15px;
   width: 100%;
   display: flex;
   gap: 50px;
}

.review__rating_icon {
   width: 98px;
   height: 98px;
   border-radius: 50%;
   background-image: url(../img/img_partners/background_mini.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

span {
   font-family: "Material Symbols Outlined", sans-serif;
   color: yellow;
   font-size: 20px;
   font-weight: 900;
}

/* *End PARTNERS */
/* *CONTACT */
.contact__form {
   width: 62%;
   box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
   border-radius: 10px;
   margin: 0 auto;
   padding: 120px 0 100px;
   display: flex;
   flex-direction: column;
   gap: 35px;
   align-items: center;
}

.contact__form a {
   color: red;
}

.form__item {
   position: relative;
   width: 56.5%;
}

.form__item input {
   font-family: 'Rubik', sans-serif;
   font-size: 18px;
   color: #9D9D9D;
   width: 100%;
   height: 60px;
   border: 1px solid #9595C9;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 15px;
}

.form__item label {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   position: absolute;
   top: -30px;
   left: 0;
   color: #BDBDBD;
   pointer-events: none;
   transition: 2s linear;
}

.form__item input:hover,
.form__item input:focus {
   font-size: 14px;
   border: 2px solid #9595C9;
   box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
   transform: scale(1.1);
   transition: 0.4s ease-in-out;
}

.form__item input:valid {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   color: #626780;
}

/* *End CONTACT */
/* *FOOTER */
.footer {
   background: radial-gradient(135em 135em at 50% 245%, rgba(155, 155, 202, 1) 49%, transparent -50%);
}

footer.section {
   padding: 110px 0 20px;
}

.footer__navbar-hidden,
.footer__navbar {
   width: 100%;
   padding: 60px 0;
   display: flex;
   justify-content: center;
   gap: 3.3em;
}

.footer .footer__navbar-hidden {
   display: none;
}

.navbar__item,
.navbar-hidden__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.navbar__item a,
.navbar-hidden__item a {
   display: block;
}

.footer__logo {
   display: flex;
   align-items: center;
   justify-content: end;
   gap: 1em;
}

.footer__body {
   display: grid;
   grid-template-columns: 1fr 36px 36px 36px 1fr;
   align-items: center;
   gap: 2em;
}

a.social {
   display: flex;
   cursor: pointer;
   transition: 0.8s ease 0s;
}

.social:hover {
   transform: scale(1.4);
}

.social__facebook svg:hover path,
.social__twitter svg:hover path,
.social__instagram svg:hover path {
   fill: #626780;
}

.navbar__item a:hover,
.navbar-hidden__item a:hover {
   color: #626780;
}

/* *End FOOTER */